*{
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

body{
	background-color: $turquesa;
}

nav{
	.nav-wrapper{
		width: 100%;
		text-align: center;
		.menu-grande{
			float: none;
			display: inline-block;
			.link-grande{
				padding: 25px 40px 0px 40px;
				font-size: 14px;
			}
		}
	}
}

.inicio{
	.circulo-fuera {
	@include circulo;
		width: 270px;
		height: 270px;
		border: 2px solid white;
		margin-top: 152px;
		margin-bottom: 152px;
		.circulo {
		@include circulo;
			width: 250px;
			height: 250px;
			border: 1px solid white;
			margin-top: 8px;
	}
	}
}

.about{
	background-color: white;
	.circulo {
		@include circulo;
			width: 250px;
			height: 250px;
			border: 1px solid $turquesa;
			margin-top: 8px;
	}
}